<div class="column Done">
    <div class="top">
        <div class="title">
            <img
                src="../../public/done-icon.svg"
                width="23px"
                height="23px"
                alt="Done"
            />
            <h3>Done</h3>
        </div>
        <img
            class="col-dots"
            src="../../public/dots-icon.svg"
            width="29px"
            height="29px"
            alt="col-dots"
        />
    </div>

    <div class="list"></div>

    <div class="bottom"></div>
</div>

<style>
    .top,
    .bottom {
        background-color: #ffaa4a;
    }
</style>
