<header>
    <div class="head-top">
        <div class="head-left">
            <img
                src="../../public/kanban_brand-icon.svg"
                width="40px"
                height="32px"
                alt="brand"
            />
        </div>
        <div class="head-mid head-search">
            <!-- <button class="nav-btn">
                <img
                    src="../../public/search-icon.svg"
                    width="25px"
                    height="25px"
                    alt="search"
                />
            </button> -->
            <label for="site-search" class="search-area">
                <button class="search-btn">
                    <img
                        src="../../public/search-icon.svg"
                        width="20px"
                        height="20px"
                        alt="search"
                    />
                </button>
                <input
                    class="khula-regular"
                    type="search"
                    id="site-search"
                    name="search-task"
                    placeholder="Search Task"
                />
            </label>
        </div>
        <div class="head-right">
            <img
                src="../../public/filter-icon.svg"
                width="25x"
                height="25px"
                alt="filter"
            />
            <img
                src="../../public/bell-icon.svg"
                width="25x"
                height="25px"
                alt="bell"
            />
            <img
                class="user-profile"
                src="../../public/profile-demo.jpg"
                width="25px"
                height="25px"
                alt="user"
            />
        </div>
    </div>
    <nav class=""></nav>
</header>

<style>
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: fit-content;
        border-bottom: 2px solid black;
        background-color: white;
        overflow: hidden;
        z-index: 10;
        padding: 16px 36px;
    }

    .head-top,
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }

    .nav-padding {
        padding: 16px 0;
    }

    .head-left {
        width: max-content;
    }

    .head-mid {
        display: block;
        width: 100%;
        max-width: 750px;
    }

    .head-search {
        flex: 1;
        justify-items: center;
    }

    .search-area {
        display: flex;
        align-items: center;
        background-color: #f1f1f1;
        border-radius: 10px;
        padding: 8px 14px;
        gap: 30px;
        width: 100%;
        height: 40px;
        box-shadow: inset rgb(220, 220, 220) 0px 5px 5px 0px;
    }

    input {
        width: 100%;
        height: max-content;
        font-size: 14px;
    }

    input::placeholder {
        font-size: 14px;
        color: #9c9c9c;
    }

    input,
    button {
        background: transparent;
        border: none;
        padding: 0;
    }

    .head-right {
        display: flex;
        gap: 25px;
        width: max-content;
    }

    img.user-profile {
        object-fit: cover;
        border-radius: 50%;
    }
</style>

<script>
    const searchInput: any = document.querySelector("label");
    const navBtn: any = document.querySelector(".nav-btn");
    const headMid: any = document.querySelector(".head-mid");
    const navBar: any = document.querySelector("nav");

    function checksiz() {
        if (window.innerWidth > 768) {
            headMid.prepend(searchInput);
            navBar.style.display = "none";
            navBtn.style.display = "none";
            navBar.classList.remove("nav-padding");
            navBar.style.padding = "0px 0px";
        }

        if (window.innerWidth <= 768) {
            navBar.prepend(searchInput);
            navBar.style.padding = "";
            navBar.classList.add("nav-padding");
            navBar.style.display = "block";
            navBtn.style.display = "block";
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        checksiz();
    });
    window.addEventListener("resize", (event) => {
        checksiz();
    });
</script>
