<header>
    <div class="head-top">
        <div class="head-left">
            <img
                src="../../public/kanban_brand-icon.svg"
                width="50px"
                height="40px"
                alt="brand"
            />
        </div>
        <div class="head-mid head-search">
            <!-- <button class="nav-btn">
                <img
                    src="../../public/search-icon.svg"
                    width="25px"
                    height="25px"
                    alt="search"
                />
            </button> -->
            <label for="site-search" class="search-area">
                <button class="search-btn">
                    <img
                        src="../../public/search-icon.svg"
                        width="25px"
                        height="25px"
                        alt="search"
                    />
                </button>
                <input
                    type="search"
                    id="site-search"
                    name="search-task"
                    placeholder="Search Task"
                />
            </label>
        </div>
        <div class="head-right">
            <img
                src="../../public/filter-icon.svg"
                width="30x"
                height="30px"
                alt="filter"
            />
            <img
                src="../../public/bell-icon.svg"
                width="30x"
                height="30px"
                alt="bell"
            />
            <img
                class="user-profile"
                src="../../public/profile-demo.jpg"
                width="30x"
                height="30px"
                alt="user"
            />
        </div>
    </div>
    <nav class="slide-up"></nav>
</header>

<style>
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        min-height: 72px;
        height: auto;
        border-bottom: 2px solid black;
        background-color: white;
        overflow: hidden;
    }

    .head-top,
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 36px;
        gap: 25px;
    }

    nav {
        padding: 16px 36px;
    }

    .head-left {
        width: max-content;
    }

    .head-mid {
        display: block;
        width: 100%;
        max-width: 750px;
    }

    .head-search {
        flex: 1;
        justify-items: center;
    }

    .search-area {
        display: flex;
        align-items: center;
        background-color: #f1f1f1;
        border-radius: 10px;
        padding: 8px 14px;
        gap: 30px;
        width: 100%;
        height: 40px;
    }

    input {
        width: 100%;
        height: max-content;
        font-size: 16px;
    }

    input::placeholder {
        font-size: 15px;
        color: #9c9c9c;
    }

    input,
    button {
        background: transparent;
        border: none;
        padding: 0;
    }

    .head-right {
        display: flex;
        gap: 25px;
        width: max-content;
    }

    img.user-profile {
        object-fit: cover;
        border-radius: 50%;
    }

    @media screen and (max-width: 480px) {
    }
</style>

<script>
    const searchInput = document.querySelector("label");
    const navBtn = document.querySelector(".nav-btn");
    const headMid = document.querySelector(".head-mid");
    const navBar = document.querySelector("nav");

    window.addEventListener("resize", function () {
        if (window.innerWidth > 768) {
            headMid.prepend(searchInput);
            navBtn.style.display = "none";
            navBar.style.display = "none";
        }

        if (window.innerWidth <= 768) {
            navBar.prepend(searchInput);
            navBar.style.display = "block";
            navBtn.style.display = "block";
        }
    });
</script>
