---

---

<div class="column Todo">
    <div class="top">
        <div class="title khula-regular">
            <img
                src="../../public/todo-icon.svg"
                width="23px"
                height="23px"
                alt="Done"
            />
            <h3>Todo</h3>
        </div>
        <img
            class="col-dots"
            src="../../public/dots-icon.svg"
            width="29px"
            height="29px"
            alt="col-dots"
        />
    </div>

    <div class="list" id="todo-area">
        <div id="todo-area-list"></div>
    </div>

    <div class="bottom">
        <div class="add-item-btn khula-regular">
            <h4>+ add item</h4>
        </div>
    </div>

    <style>
        .top,
        .bottom {
            background-color: palevioletred;
        }
        .bottom {
            display: flex;
        }

        .Todo {
            background-color: white;
        }

        .title {
            align-items: center;
        }

        h3 {
            padding-top: 5px;
        }

        .textArea {
            height: 95px;
        }

        #todo-area-list,
        .list {
            background-color: aquamarine;
            font-family: "Khula", sans-serif;
            * {
                font-size: 75%;
            }
        }

        #todo-inputs {
            margin: 5% auto;
            width: 95%;
            border: 1px solid;
            display: flex;
            flex-direction: column;

            * {
                margin: 3% 2%;
            }
        }

        #todo-area-list {
            padding: 5% 5%;
            background-color: palegoldenrod;
        }

        h4 {
            margin: 0 0;
            font-size: 16px;
        }
    </style>

    <script>
        import { tasksList } from "../lib/TaskList";
        import { isOpen } from "../lib/TaskList";
        const todoArea = document.querySelector("#todo-area-list");

        if (todoArea) {
            todoArea.addEventListener("dragover", (event) =>
                tasksList.onDragOver(event),
            );
            todoArea.addEventListener("drop", (event) =>
                tasksList.onDrop(event, tasksList.todo),
            );
        }

        function addForTodo() {
            const newTitle = document.querySelector("#newtitle-for-todo").value;
            const newTask = document.querySelector("#newtask-for-todo").value;
            tasksList.add({
                id: 0,
                title: newTitle,
                description: newTask,
                category: tasksList.todo,
            });
        }

        document
            .querySelector("#add-newtask-for-todo")
            .addEventListener("click", addForTodo);
    </script>
</div>
