---

---

<div class="column Todo">
    <div class="top">
        <div class="title lexend-deca-normal">
            <img
                src="../../public/todo-icon.svg"
                width="23px"
                height="23px"
                alt="Done"
            />
            <h3>Todo</h3>
        </div>
        <img
            class="col-dots"
            src="../../public/dots-icon.svg"
            width="29px"
            height="29px"
            alt="col-dots"
        />
    </div>

    <div class="modal-todo js-modal-todo">
        <div class="modal-container-todo">
            <div class="modal-close-todo js-modal-close-todo">×</div>
            <div class="modal-content-todo">
                <div id="todo-area" class="list">
                    <div id="todo-inputs">
                        <input
                            type="text"
                            id="newtitle-for-todo"
                            placeholder="Task Title"
                        />
                        <input
                            type="text"
                            class="textArea"
                            id="newtask-for-todo"
                            placeholder="Task Description"
                        />
                        <button id="add-newtask-for-todo">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="add-item-btn khula-regular">
            <h4>+ add item</h4>
        </div>
    </div>

    <style>
        .top,
        .bottom {
            background-color: palevioletred;
        }
        .bottom {
            display: flex;
        }

        .Todo {
            background-color: white;
        }

        .title {
            align-items: center;
        }

        h3 {
            padding-top: 3px;
        }

        .textArea {
            height: 95px;
        }

        #todo-area {
            border: 1px solid;
            margin: 5% auto;
            width: 95%;
            font-family: "Khula", sans-serif;
            * {
                font-size: 75%;
            }
        }

        #todo-inputs {
            margin: 5% auto;
            width: 95%;
            border: 1px solid;
            display: flex;
            flex-direction: column;

            * {
                margin: 3% 2%;
            }
        }

        #todo-area-list {
            padding: 5% 5%;
            background-color: palegoldenrod;
        }
    </style>

    <script>
        import { tasksList } from "../lib/TaskList";
        import { isOpen } from "../lib/TaskList";
        const todoArea: any = document.querySelector("#todo-area-list");
        const addBtn: any = document.querySelector(".add-item-byn");
        const modal: any = document.querySelector(".js-modal-todo");
        const close: any = document.querySelector(".js-modal-close-todo");
        const newTitle: any = document.querySelector("#newtitle-for-todo");
        const newTask: any = document.querySelector("#newtask-for-todo");

        if (todoArea) {
            todoArea.addEventListener("dragover", (event) =>
                tasksList.onDragOver(event),
            );
            todoArea.addEventListener("drop", (event) =>
                tasksList.onDrop(event, tasksList.todo),
            );
        }

        function addForTodo() {
            const newTitleValue = newTitle.value;
            const newTaskVlue = newTask.value;
            tasksList.add({
                id: 0,
                title: newTitleValue,
                description: newTaskVlue,
                category: tasksList.todo,
            });
            newTitle.value = "";
            newTask.value = "";
            modal.classList.remove("is-active");
        }

        function showNewTask() {
            modal.classList.add("is-active");
        }

        document
            .querySelector("#add-newtask-for-todo")
            .addEventListener("click", addForTodo);
        addBtn?.addEventListener("click", showNewTask);

        close.addEventListener("click", () => {
            modal.classList.remove("is-active");
        });

        function modalOut(e: any) {
            if (e.target == modal) {
                modal.classList.remove("is-active");
            }
        }
        addEventListener("click", modalOut);
    </script>
</div>
