---

---

<div class="column Todo khula-regular">
    <div class="top">
        <div class="title">
            <img
                src="../../public/todo-icon.svg"
                width="23px"
                height="23px"
                alt="Done"
            />
            <h3>Todo</h3>
        </div>
        <img
            class="col-dots"
            src="../../public/dots-icon.svg"
            width="29px"
            height="29px"
            alt="col-dots"
        />
    </div>

    <div id="todo-area" class="list">
        <div id="todo-inputs">
            <input
                type="text"
                id="newtitle-for-todo"
                placeholder="Task Title"
            />
            <input
                type="text"
                class="textArea"
                id="newtask-for-todo"
                placeholder="Task Description"
            />
            <button id="add-newtask-for-todo">+</button>
        </div>
    </div>

    <div id="todo-area-list"></div>
    <div class="bottom">
        <div class="add-item-byn">
            <h4>+ add item</h4>
        </div>
    </div>

<style>
    .top,
    .bottom {
        background-color: palevioletred;
    }
    .bottom{
        display: flex;
              
    }
    .Todo{
        
        background-color: white;      
    }
    .textArea{
        height: 95px;     
    }

        #todo-area {
            border: 1px solid;
            margin: 5% auto;
            width: 95%;
            font-family: "Khula", sans-serif;
            border: 1px solid;
            border-radius: 5px;
            
            * {
                font-size: 75%;
            }
        }

        #todo-inputs {
            margin: 5% auto;
            width: 95%;
            border: 1px solid;
            display: flex;
            flex-direction: column;

            * {
                margin: 3% 2%;
            }
        }

        #todo-area-list {
            background-color: palegoldenrod;

            div{
            border: 1px solid;
            margin: 5%;
            padding:2%;
            border-radius: 5px;

            *{
                margin: 1px;
                
            }

            button{
                background: transparent;
                border: 1px solid;
                width: 20%;
                padding: 2%;
                margin: 1%;
                border-radius: 50px;

            }
            button:hover{
                background-color: black;
                color: white;
                cursor: pointer
            }
        }
        }
    </style>

    <script>
        import { tasksList } from "../lib/TaskList";
        import { isOpen } from "../lib/TaskList";
        const todoArea = document.querySelector("#todo-area-list");

        if (todoArea) {
            todoArea.addEventListener("dragover", (event) =>
                tasksList.onDragOver(event),
            );
            todoArea.addEventListener("drop", (event) =>
                tasksList.onDrop(event, tasksList.todo),
            );
        }

        function addForTodo() {
            const newTitle = document.querySelector("#newtitle-for-todo").value;
            const newTask = document.querySelector("#newtask-for-todo").value;
            tasksList.add({
                id: 0,
                title: newTitle,
                description: newTask,
                category: tasksList.todo,
            });
        }

        document
            .querySelector("#add-newtask-for-todo")
            .addEventListener("click", addForTodo);
    </script>
</div>
