---
import BaseLayout from "../layouts/BaseLayout.astro";
import Title from "../components/Title.astro";
import ToDo from "../components/ToDo.astro";
import InProgress from "../components/InProgress.astro";
import Done from "../components/Done.astro";
---

<BaseLayout>
    <!-- <Title /> -->
    <main>
        <dev class="col-group">
            <ToDo />
            <InProgress />
            <Done />
        </dev>
    </main>
</BaseLayout>
